
* {
    margin: 0px;
    padding: 0px;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    background-image: url(imagens/fundo-branco.jpg);

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

section#tela {
    width: 310px;
    height: 625px;
    background-image: url(imagens/celular.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#icones img {
    max-width: 100px;

    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 0.25%;
    
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.592);

    border: 3px solid rgb(11, 11, 10);
    border-radius: 50%;

    transition: transform 0.2s ease-in;
}

section#icones img:hover {
    border: 4px solid rgb(11, 11, 10);
    transform: translate(-10px, 0px);
    transition: transform 0.2s ease-out;
}

section#icones img#primeiro {
    margin-top: 225px;
}

section {
    text-align: right;
}

img#primeiro {
    margin-top: 0px;
}


section#tela iframe {
    position: absolute;
    top: 40px;
    right: 28px;
    width: 272px;
    height: 552px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.86);
}

section#tela iframe::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


